.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    z-index: 99;
    width: 100%;
}
.header-normal{
    background-color: #33415c;
}
.header-transparent{
    background-color: #33415c;
    opacity: 0.99;
}
.dropdown-menu{
    background-color: #33415c;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.dropdown-item{
    font-size: 20px;
    padding: 10px;
    background-color: #33415c;
}
.dropdown-item:hover{
    background-color: #333533 !important;
}
header a{
    color: bisque !important;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    margin: 0 30px;
    margin-top: 10px;
    margin-bottom: -10px;
}
