header{
    display: flex;
    justify-content: space-between;
    background-color: #333533;
    padding: 20px;
}
.dropdown-menu{
    background-color: brown;
    border: none;
    border-radius: 5px;
}
a{
    color: bisque !important;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 5px;
}
.buttonToggle{
    border: none;
}