header{
    display: flex;
    justify-content: space-between;
    background-color: #333533;
    padding: 15px;
}
.dropdown-menu{
    background-color: brown;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.dropdown-item{
    font-size: 20px;
    padding: 10px;
    background-color: brown;
}
.dropdown-item:hover{
    background-color: #333533 !important;
}
a{
    color: bisque !important;
    text-decoration: none;
    font-size: 20px;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    margin: 0 30px;
    margin-top: 10px;
    margin-bottom: -10px;
}
