
.films-grid{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}
.card-img{
    width: 300px !important; 
    height: 400px;
}
.card{
    margin-bottom: 35px;
    margin-left: 10px;
    width: 300px;
    height: 528px !important;
    background-color: #98c1d9 !important;
    top: 120px;
    align-items: center;
}
.text-container{
    width: 200px;
    height: 20px;
}

.card:hover{
    transform: scale(1.04);
    transition: 0.5s;
}
.card-title{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'oswald'; 
    font-size: 25px;
    font-weight: 600;
}
.btn-outline-warning{
    margin-left: 45px;
    margin-top: 10px;
}
.spinner{
    margin-top: 400px;
}
button a{
    text-decoration: none;
    color: #001d3d;
}