form{
    margin-left: 60px;
}
input{
    width: 400px !important;
    height: 55px;
    border: none !important;
} 


.form-btn{
    height: 55px;
    top: 16px;
    width: 100px;
    margin-left: 22%;
    position: fixed;
}